<p id="notice"><%= notice %></p>

<h1>Covek</h1>

<table>
  <thead>
    <tr>
      <th>Ime</th>
      <th>Opis</th>
      <th>Slika</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coveks.each do |covek| %>
      <tr>
        <td><%= covek.name %></td>
        <td><%= covek.description %></td>
        <td><%= image_tag(covek.picture_url, width: 200) if covek.picture.present? %></td>
        <td><%= link_to 'Show', covek %></td>
        <td><%= link_to 'Edit', edit_covek_path(covek) %></td>
        <td><%= link_to 'Destroy', covek, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Vera', new_covek_path %>
