<p id="notice"><%= notice %></p>

<p>
  <strong>Ime:</strong>
  <%= @covek.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @covek.description %>
</p>

<p>
  <strong>Slika:</strong>
  <%= image_tag(@covek.picture_url, width: 200) if @covek.picture.present? %>
</p>

<%= link_to 'Edit', edit_covek_path(@covek) %> |
<%= link_to 'Back', coveks_path %>
